user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    upstream backend {
        server 172.18.135.12;
    }

    server {
        listen 80;

        location / {
            proxy_pass http://backend;
        }
    }
}
